@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Reem+Kufi:wght@400..700&display=swap');

@import 'tailwindcss';

@theme {
    --font-kode-mono: 'Kode Mono', sans-serif;

    --color-medium-green: hsl(152, 72%, 49%);
    --color-brown: hsl(23, 52%, 30%);
    --color-light-green: hsl(74, 55%, 49%);
    --color-dark-green: hsl(158, 44%, 12%)
}